{% extends "dashboard/dashboard-base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <h1><strong>Zamówienia</strong></h1>
    <br />
    <table>
		<tr>
			<th>Transakcja:</th>
			<th>Kupiec:</th>
			<th>Czas Zakupu:</th>
            <th>Complete:</th>
            <th></th>
		</tr>

		{% for ord in object_list %}
		<tr style="border-bottom: 1px solid lightgrey;">
			<td>
				<a href="{{ ord.get_absolute_url2 }}">{{ord.transaction_id}}</a>
                <br />
                <br />
				<small>Wartość zamówienia: {{ord.get_cart_total_brutto|floatformat:2}}PLN</small>
			</td>
            {% if ord.customer.name %}
    			<td>
    				<p>{{ord.customer.name}}</p>
    			</td>
            {% else %}
                <td>
                    <p>Guest</p>
                </td>
            {% endif %}
            <td>
				<p>{{ord.date_ordered}}</p>
			</td>
            <td>
				<p>{{ord.complete}}</p>
			</td>
            <td>
                <a href="{{ ord.get_absolute_url2 }}" class="btn">Zobacz</a>
            </td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
