{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}

<div class="small-container">
    <h1>Informacje o zamówieniu: </h1>
	<div class="row">
		<div class="col-2">
            <div class="card">
			<p style="font-size:22px">Dane klienta</p>
            <p>Imię i nazwisko: </p>
            <p>Firma: </p>
            <p>NIP: </p>
            <br />
            <br />
            </div>
		</div>
		<div class="col-2">
            <div class="card">
			<p style="font-size:22px">Adres Dostawy</p>
            <p>Ulica: </p>
            <p>Kod pocztowy: </p>
            <p>Miejscowość: </p>
            <p>Miasto: </p>
            <p>Kraj: </p>
            </div>
		</div>
	</div>
	<table>
		<tr>
			<th>Produkt:</th>
			<th>Ilość:</th>
			<th>W sumie:</th>
		</tr>
		{% for item in items %}
		<tr style="border-bottom: 1px solid lightgrey;">
			<td>
				<a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.image1.url }}" ></a>
				<div>
					<p>{{item.product.title}}</p>
					<small>Cena: {{item.product.price}}PLN</small>
				</div>
			</td>
			<td>
				<p>{{item.quantity}}</p>
			</td>
			<td>
				<div class="column">
					<p>Cena netto: {{item.get_total|floatformat:2}} PLN</p>
					<p>Vat: {{item.get_vat|floatformat:2}} PLN</p>
					<p>Cena brutto: {{item.get_brutto|floatformat:2}} PLN</p>
				</div>
			</td>
		</tr>
		{% endfor %}
		</table>

	<div class="total-price" style="margin-top: 20px">
		<table>
			<tr>
				<td>Razem</td>
				<td>{{order.get_cart_total}} PLN</td>
			</tr>
			<tr>
				<td>Podatek</td>
				<td>{{order.get_cart_total_vat|floatformat:2}} PLN</td>
			</tr>
			<tr>
				<td>W sumie</td>
				<td>{{order.get_cart_total_brutto|floatformat:2}} PLN</td>
			</tr>
		</table>
	</div>
</div>

{% endblock content %}
