{% extends "dashboard/dashboard-base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <h1><strong>Produkty</strong></h1>
    <a class='btn' href="{% url 'dashboard:product-create' %}">Dodaj</a>
	<table>
		<tr>
			<th> </th>
			<th>Nazwa:</th>
			<th>Cena:</th>
            <th></th>
		</tr>
        {% for product in object_list %}
		<tr style="border-bottom: 1px solid lightgrey;">
			<td>
				<a href="{{ product.get_absolute_url }}"><img class="row-image ml-5" style="height:100px; width:100px;" src="{{ product.image1.url }}" ></a>
			</td>
			<td>
				<p>{{product.title}}</p>
                <p>Kod: {{product.slug}}</p>
			</td>
			<td>
				<div class="column">
                    <p>Paczka: {{product.pack}} PLN</p>
					<p>Cena: {{product.price|floatformat:2}} PLN</p>
				</div>
			</td>
            <td>
                <div class="column">
                    <a style="color: blue; margin: 0px 10px" href="">Edytuj</a>
                    <a class="btn" style="background-color:#f42525;" href="">Usuń</a>
                    <a class="btn" href="{{ product.get_absolute_url }}">Zobacz</a>
                </div>
            </td>
		</tr>
		{% endfor %}
		</table>
</div>

{% endblock %}
