html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}

.footer {
  padding-top: 40px;
  margin-top: -50px;
}

.required
{
    color: red;
}

.search-form{
    max-width: 500px;
    width: 100%;
}

.card-body{
    width: 100%;
}

.card-img-top{
    width: 100%;
    height: 100%;
    max-width: 225px;
    max-height: 225px;
}

.column1 img:hover {
  opacity: 1;
}

.displayed-img {
    max-width: 400px;
    max-height: 700px;
    height: 100%;
    width: 100%;
}
