{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="form">
    <form method="post">
      <h3>Witamy w Wólka Moda!</h3>
      <hr>
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="form-content">
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Nazwa użytkownika:</label>
            <br>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Hasło:</label>
            <br>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <button class="btn" type="submit">Zaloguj się</button>
        <small class='text-muted ml-2'>
        <a href="{% url 'password_reset' %}">Nie pamiętasz hasła?</a>
        </small>
    </div>
    </form>
      <!-- <form method='POST'>
          {% csrf_token %}
          <fieldset style="border: none;">
              <h3>Zaloguj się</h3>
              {{ form|crispy }}
              <div class='form-group'>
                  <button class='btn btn-outline-info', type='submit'>Login</button>
              </div>
              <small class='text-muted ml-2'>
              <a href="{% url 'password_reset' %}">Nie pamiętasz hasła?</a>
              </small>
          </fieldset>
      </form> -->
      <div class='question'>
          <small class='text-muted'>Nie masz jeszcze konta? <a class = 'ml-2' href='{% url 'signup' %}'>Dołącz teraz</a></small>
      </div>
    </div>
</div>
{% endblock content %}
