{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='container'>
        <div class="form">
            <form method='POST'>
                {% csrf_token %}
                <fieldset class='form-group' style="border:none">
                    <h3>Zmień hasło</h3>
                    <hr>
                    <div class="form-content">
                      {{ form|crispy }}
                    </div>
                    <button class='btn' type='submit'>Poproś o zmianę hasła</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}
