{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="form">
      <form method='POST'>
          {% csrf_token %}
          <fieldset style="border: none;">
              <h3>Załóż Konto</h3>
              <hr>
              <div class="form-content">
                {{ form|crispy }}
                <div class='form-group'>
                    <button class='btn', type='submit'>Załóż konto</button>
                </div>
              </div>
          </fieldset>
      </form>

      <div class='question'>
          <small class='text-muted'>Masz już konto? <a href='{% url 'login' %}'>Zaloguj się</a></small>
      </div>
    </div>
</div>
{% endblock content %}
