{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<div>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
                <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
                <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="m-auto py-5">
            <div class="m-auto py-5">
                <p style='font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:107%;'><span style="font-size: 24px;"><strong><span style="color:black;">Serdecznie witamy na naszej stronie internetowej WolkaModa.pl</span></strong></span></p>
            </div>
            <div class="m-auto py-2">
                <p style='font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:107%;'><span style="font-size: 24px;"><span style="color:black;">Prezentujemy Państwu naszą stronę internetową zajmującą się <strong>hurtową sprzedażą odzieży damskiej</strong> z siedzibą w W&oacute;lce Kosowskiej pod Warszawą.</span> Została ona stworzona tak, aby pom&oacute;c Państwu w prosty, szybki i przejrzysty spos&oacute;b uzyskać dostęp do wszelkich oferowanych przez nas produkt&oacute;w. Zam&oacute;wienia można składać u nas 24h/7dni poprzez stronę internetową lub przez aplikację Messenger, gdzie w miarę możliwości staramy się odpowiadać na bieżąco.<span style="color:black;">&nbsp;Dołożymy wszelkich starań, aby państwa zakupy były łatwe i przyjemne, a przede wszystkim bezpieczne.&nbsp;</span>Z pewnością zaoszczędzi to Państwa cenny czas i obniży koszty transportu zam&oacute;wionych produkt&oacute;w.&nbsp;</span></p>
            </div>
            <div class="m-auto py-2">
                <p style='font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;'><span style="font-size: 24px;">Posiadamy w ofercie odzież polskiej produkcji oraz wsp&oacute;łpracujemy tylko ze sprawdzonymi i wiarygodnymi partnerami handlowymi importującymi towar z Włoch, Francji oraz Turcji, kt&oacute;rzy oferują towary najlepszej jakości oraz najlepsze hurtowe ceny. Szeroki wachlarz oferowanych produkt&oacute;w pozwala nam sprostać oczekiwaniom nawet najbardziej wymagających Klient&oacute;w. <strong>Jeśli na stronie internetowej nie występuje poszukiwany przez państwa artykuł, bardzo prosimy o informację, w celu weryfikacji, czy dany produkt będzie możliwy na stanie dodatkowo</strong>. Naszym celem jest, aby każdy klient był zadowolony z zakup&oacute;w&nbsp;<span style='font-family:"Segoe UI Emoji",sans-serif;'>😊</span>.</span></p>
            </div>
            <div class="m-auto py-2">
                <p style='font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:0cm;line-height:107%;'><span style="font-size: 24px;"><span style="color:black;">Hurtownia WolkaModa.pl zaprasza do zakup&oacute;w. </span></span></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
