{% extends "shop/base.html" %}
{% block content %}
{% load static %}

<div class="container2">
    <div class="title">
        <strong>Wólka Moda</strong>
    </div>
    <p><strong>Serdecznie witamy na naszej stronie internetowej WolkaModa.pl</strong></p>
    <p>Prezentujemy Państwu naszą stronę internetową zajmującą się <strong>hurtową sprzedażą odzieży damskiej</strong> z siedzibą w W&oacute;lce Kosowskiej pod Warszawą. Została ona stworzona tak, aby pom&oacute;c Państwu w prosty, szybki i przejrzysty spos&oacute;b uzyskać dostęp do wszelkich oferowanych przez nas produkt&oacute;w. Zam&oacute;wienia można składać u nas 20h/7dni poprzez stronę internetową lub przez aplikację Messenger, gdzie w miarę możliwości staramy się odpowiadać na bieżąco. &nbsp;Dołożymy wszelkich starań, aby państwa zakupy były łatwe i przyjemne, a przede wszystkim bezpieczne.&nbsp; Z pewnością zaoszczędzi to Państwa cenny czas i obniży koszty transportu zam&oacute;wionych produkt&oacute;w.&nbsp; </p>
    <p>Posiadamy w ofercie odzież polskiej produkcji oraz wsp&oacute;łpracujemy tylko ze sprawdzonymi i wiarygodnymi partnerami handlowymi importującymi towar z Włoch, Francji oraz Turcji, kt&oacute;rzy oferują towary najlepszej jakości oraz najlepsze hurtowe ceny. Szeroki wachlarz oferowanych produkt&oacute;w pozwala nam sprostać oczekiwaniom nawet najbardziej wymagających Klient&oacute;w. <strong>Jeśli na stronie internetowej nie występuje poszukiwany przez państwa artykuł, bardzo prosimy o informację, w celu weryfikacji, czy dany produkt będzie możliwy na stanie dodatkowo</strong>. Naszym celem jest, aby każdy klient był zadowolony z zakup&oacute;w&nbsp;<span style='font-family:"Segoe UI Emoji",sans-serif;'>😊.</p>
    <p>0Hurtownia WolkaModa.pl zaprasza do zakup&oacute;w.</p>
</div>
{% endblock %}
