{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wólka Moda</title>

    <link rel="stylesheet" href="{% static 'shop/assets/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">

    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');

    function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	function uuidv4() {
	  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
	    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
	    return v.toString(16);
	  });
	}

	var device = getCookie('device');

	if (device == null || device == undefined){
		device = uuidv4()
	}


    document.cookie = 'device=' + device + '; SameSite=Lax;' + ";domain=;path=/";
	// document.cookie ='device=' + device + ";domain=;path=/";

    </script>
</head>

<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'shop:home' %}"><img src="{% static 'images/logo.png' %}" width="250px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'shop:home' %}">Home</a></li>
                    <li><a href="{% url 'shop:products' %}">Produkty</a></li>
                    <li><a href="{% url 'shop:about' %}">O nas</a></li>
                    <li><a href="{% url 'shop:contact' %}">Kontakt</a></li>

                    {% if user.is_authenticated %}
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">Konto</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'shop:profile'%}">Profil</a>
                                    <a href="{% url 'shop:orders'%}">Historia Zamówień</a>
                                    {% if user.is_superuser %}
                                        <a href="{% url 'dashboard:home' %}">Dashboard</a>
                                    {% endif %}
                                    <a href="{% url 'logout' %}">Wyloguj się</a>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <a href="{% url 'shop:cart' %}"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
            <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menuToggle()">
        </div>
    </div>
</div>

<body>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

<!-- footer  -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Informacje</h3>
                <ul>
                    <li>Koszt wysyłki</li>
                    <li>Jak zamawiać</li>
                    <li>Pomoc</li>
                    <li>FAQ</li>
                    <li>Polityka Prywatności</li>
                </ul>
            </div>
            <div class="footer-col-1">
                <h3>Moje Konto</h3>
                <ul>
                    <li>Zamówienia</li>
                    <li>Rachunki</li>
                    <li>Adresy</li>
                    <li>Informacje Osobiste</li>
                    <li>Obsługi klienta</li>
                </ul>
            </div>
            <div class="footer-col-1">
                <h3>Informacje o sklepie</h3>
                <ul>
                    <li><a href="tel:+48 886882885">+48 886 882 885</a></li>
                    <li><a href="tel:+48 579239540">+48 579 239 540</a></li>
                    <li><a href="mailto: contact.wolkamoda@gmail.com">contact.wolkamoda@gmail.com</a></li>
                    <li>Facebook: </li>
                    <li>...</li>
                </ul>
            </div>
            <div class="footer-col-1">
                <h3>Dane do przelewu</h3>
                <ul>
                    <li><strong>Firma:</strong>...</li>
                    <li><strong>Adres korespondencji:</strong>...</li>
                    <li><strong>NIP:</strong>...</li>
                    <li><strong>Bank:</strong>...</li>
                    <li><strong>Kod SWIFT banku:</strong>...</li>
                    <li><strong>Nr konta bankowego:</strong>...</li>
                </ul>
            </div>
        </div>
        <p class="copyright">Copyright © 2021 DALOC. All right reserved.</p>
    </div>

</div>

<script type="text/javascript">
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";

    function menuToggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "250px";
        }
        else {
            MenuItems.style.maxHeight = "0px";
        }
    }
</script>

<!-- <script type="text/javascript">
    const cartItems = document.getElementById('cartItems');
    var counter = '{{ cartItems }}';
    cartItems.innerHTML = counter;

    $('.update-cart').click(function(){
        var productId = $(this).attr("data-productId");
        var action = $(this).attr("data-action");
        var pack = parseInt(this.dataset.pack);

        try {
            var inputVal = parseInt(document.getElementById("quantity"+productId).value);
            if (inputVal%pack != 0){
                inputVal += pack - inputVal%pack
            }
        } catch {
            var inputVal = pack
        }

        var url = '/add_to_cart/'
        $.ajax(
        {
            type:'GET',
            url: url,
            data:{
                 productId: productId,
                 action: action,
                 inputVal: inputVal,
            },
            success: function( data )
            {
                cartItems.innerHTML = data
                alert("Dodano do koszyka " + inputVal + " produkty");
                $('#product'+productId).remove();
            }
         })
    });
</script> -->

</html>
