{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Website</title>
    <link rel="stylesheet" href="{% static 'shop/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/Brands.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static 'shop/assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/Newsletter-Subscription-Form.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/card.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'shop/assets/css/main.css' %}">


    <script type="text/javascript">

    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken');

    function getCookie(name) {
        var cookieArr = document.cookie.split(";")

        for (var i = 0; i < cookieArr.length; i++){
            var cookiePair = cookieArr[i].split("=");

            if (name == cookiePair[0].trim()){
                return decodeURIComponent(cookiePair[1]);
            }
        }

        return null;
    }

    var cart = JSON.parse(getCookie('cart'))

    if(cart == undefined){
        cart = {}
        console.log("Cart was created!")
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
    }

    console.log("Cart:", cart)

    </script>

</head>

<body>
    <div class="content">
    <nav class="navbar navbar-light bg-light navbar-expand-md navigation-clean-search nav-box">
        <div class="container"><a class="navbar-brand" href="{% url 'shop:home' %}">Website in Dev</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop:home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop:products' %}">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop:faq' %}">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'shop:contact' %}">Contact</a></li>
                </ul>
                <div class="form-inline ml-3 mr-auto mt-sm-2 mr-2">
                    <form method="get">
                        <label for="search-field"><i class="fa fa-search"></i>
                        <input type="text" class="search-field form-control" name="q" id="id_q" placeholder="Search...">
                    </form>
                </div>
                <a href="{% url 'shop:cart' %}"><img  id="cart-icon" src="{% static 'images/cart.png' %}"></a>
    	    	<p>{{ cartItems }}</p>
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Register</a></li>
                    </ul>
                {% endif %}
            {% if not user.is_authenticated %}
                </div><a class="btn btn-light action-button" role="button" href="{% url 'login' %}">Login</a></div>
            {% endif %}
    </nav>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    {% block content %}
    {% endblock %}
    </div>

    <div class="footer-dark">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Company Name © 2020</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'shop/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'shop/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static 'shop/assets/js/Simple-Slider.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'shop/assets/js/cart.js' %}"></script>

    <script type="text/javascript">
        document.getElementById('id_q').value = {{query}}
    </script>
</body>

</html>
