{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="row container m-auto py-5">
	<div class="col-lg-12">
		<div class="box-element2">
			<a  class="btn btn-outline-dark" href="{% url 'shop:products' %}">&#x2190; Continue Shopping</a>
			<br>
			<br>
			<table class="table mx-auto">
				<tr>
					<div class="mx-auto">
						<th><h5>Items:<strong> {{ order.get_cart_items }}</strong></h5></th>
					</div>
					<div class="mx-auto my-auto">
						<th></br></th>
					</div>

					<th>
						<a onclick="checkout()" style="float:right; margin:5px;" class="btn btn-outline-dark">Checkout</a>
					</th>

				</tr>
				<tr>
					<div class="mx-auto my-auto">
					<th><h5>Netto:<strong> {{ order.get_cart_total|floatformat:2 }} zł</strong></h5></th>
					<th><h5>Vat:<strong> {{ order.get_cart_total_vat|floatformat:2 }} zł</strong></h5></th>
					<th><h5>Brutto:<strong> {{ order.get_cart_total_brutto|floatformat:2 }} zł</strong></h5></th>
					</div>
				</tr>
			</table>
		</div>
		<br>
		<div class="box-element2 mb-5">
			<div class="cart-row my-3 px-3">
				<div class="mx-auto" style="flex:2"><strong class="ml-5">Item</strong></div>
				<div class="mx-auto" style="flex:2"><strong>Title</strong></div>
				<div class="mx-auto" style="flex:1"><strong>Unit Price</strong></div>
				<div class="mx-auto" style="flex:1"><strong>Quantity</strong></div>
				<div class="mx-auto" style="flex:1"><strong>Total</strong></div>
				<div class="mx-auto" style="flex:1"><strong></strong></div>
			</div>
			{% for item in items %}
			<div id="product{{item.product.id}}" class="cart-row px-3">

				<div class="mx-auto" style="flex:2"><a href="{{ item.product.get_absolute_url }}"><img class="row-image ml-5" style="height:100px" src="{{ item.product.image1.url }}" ></a></div>
				<div class="mx-auto" style="flex:2">
					<a href="{{ item.product.get_absolute_url }}"><p>{{item.product.title}}</p></a>
				</div>

				<div class="mx-auto" style="flex:1"><p>{{item.product.price|floatformat:2}} zł</p></div>
				<div class="mx-auto row" style="flex:1">
					<div class="column">
						<input class="text quantity-input-box" id="quantity{{item.product.id}}" value="{{item.quantity}}"></input>
					</div>
					<!-- <div class="column quantity">
						<img class="chg-quantity" data-productId={{item.product.id}} data-action='add' data-pack="{{ item.product.pack }}" src="{% static  'images/arrow-up.png' %}">
						<img class="chg-quantity" data-productId={{item.product.id}} data-action='remove' data-pack="{{ item.product.pack }}" src="{% static  'images/arrow-down.png' %}">
					</div> -->
				</div>
				<div class="column mx-auto" style="flex:1">
					<p>{{item.get_total}}zł</p>
				</div>
				<div class="mx-auto" style="flex:1"><img class="chg-quantity update-cart2" data-productId={{item.product.id}} data-action='removeAll' data-pack="{{ item.product.pack }}" src="{% static  'images/remove.png' %}"></div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


<script type="text/javascript">
	function checkout() {
		total = '{{ order.get_cart_total }}'
		if (total < 300){
			alert("Minimalna wartość netto zamówienia to 300zł.");
		}
		else{
			window.location.href = "{% url 'shop:guest' %}"
		}
	}

	$('.update-cart2').click(function(){
		var productId = $(this).attr("data-productId");
		var action = $(this).attr("data-action");
		var pack = parseInt(this.dataset.pack);

		inputVal = 0
		console.log(productId)
		console.log(action)
		var url = '/add_to_cart/'
		$.ajax(
		{
			type:'GET',
			url: url,
			data:{
				 productId: productId,
				 action: action,
				 inputVal: inputVal,
			},
			success: function( data )
			{
				cartItems.innerHTML = data
				alert("Produkt został usunięty z twojego koszyka");
				$('#product'+productId).remove();
			}
		})
	});
</script>
{% endblock content %}
