{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<div class="row mx-auto container">
    <div class="col-lg-6">
        <div class="box-element2" id="form-wrapper">
            <form id="form">
                {% csrf_token %}
                <div id="user-info">
                    <p class="mt-3">Customer's: </p>
					<div class="form-field">
						<h6> Name: </h6><input required class="form-control" type="text" name="name">
					</div>
                    <div class="form-field">
						<h6> Surname: </h6><input required class="form-control" type="text" name="surname">
					</div>
					<div class="form-field">
						<h6> Email: </h6><input required class="form-control" type="email" name="email">
					</div>
                    <div class="form-field">
						<h6> Phone: </h6><input required class="form-control" type="text" name="phone">
					</div>
				</div>
                <div id="shipping-info">
                    <p class="mt-3">Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <h6> Adress: </h6><input class="form-control" type="text" name="address">
                    </div>
                    <div class="form-field">
                        <h6> City: </h6><input class="form-control" type="text" name="city">
                    </div>
                    <div class="form-field">
                        <h6> State: </h6><input class="form-control" type="text" name="state">
                    </div>
                    <div class="form-field">
                        <h6> Zip code: </h6><input class="form-control" type="text" name="zipcode" >
                    </div>
                    <div class="form-field">
                        <h6> Country: </h6><input class="form-control" type="text" name="country">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element2 hidden my-3" id="payment-info">
            <small>Paypal Options</small>
            <button id="make-payment"> Confirm </button>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element2 mb-5">
            <a class="btn btn-outline-dark" href="{% url 'shop:cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                {% if user.is_authenticated %}
				<div style="flex:2"><img class="row-image" src="{{ item.product.image.url }}" ></div>
				{% else %}
				<div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}" ></div>
				{% endif %}


                <div style="flex:2"><p>{{item.product.title}}</p></div>
                <div style="flex:1"><p>{{item.product.price}} zł</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items:   <strong>{{ order.get_cart_items }}</strong></h5>
            <h5>Total:   <strong>{{ order.get_cart_total|floatformat:2 }} zł</strong></h5>
        </div>
    </div>
</div>

<script>
    var total = '{{ order.get_cart_total }}'

    if (user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }


    var form = document.getElementById('form')
    csrftoken = form.getElementsByTagName("input")[0].value

    form.addEventListener('submit', function(e) {
        e.preventDefault()
        console.log('Form submitted...')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('Payment button clicked')

        var userFormData = {
            'name': null,
            'surname': null,
            'email': null,
            'phone': null,
            'total': total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
            'country': null,
        }

        if (user == 'AnonymousUser') {
            userFormData.name = form.name.value
            userFormData.surname = form.surname.value
            userFormData.email = form.email.value
            userFormData.phone = form.phone.value
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
            shippingInfo.country = form.country.value
        }
        else {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
            shippingInfo.country = form.country.value
        }

        var url = '/process_order/'
        var url = "/process_order/"
    	fetch(url, {
    		method:'POST',
    		headers:{
    			'Content-Type':'application/json',
    			'X-CSRFToken':csrftoken,
    		},
    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),

    	})
    	.then((response) => response.json())
    	.then((data) => {
			console.log('Success:', data);
			alert('Transaction completed');

			cart = {}
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

			window.location.href = "{% url 'shop:products' %}"
		})
    }

</script>
{% endblock %}
