{% extends "shop/base.html" %}
{% block content %}
{% load static %}

<div class="row mx-auto container">
    <div class="col-lg-6">
        <div class="box-element2    " id="form-wrapper">
            <form id="form">
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <h6> Adress: </h6><input class="form-control" type="text" name="address">
                    </div>
                    <div class="form-field">
                        <h6> City: </h6><input class="form-control" type="text" name="city">
                    </div>
                    <div class="form-field">
                        <h6> State: </h6><input class="form-control" type="text" name="state">
                    </div>
                    <div class="form-field">
                        <h6> Zip code: </h6><input class="form-control" type="text" name="zipcode" >
                    </div>
                    <div class="form-field">
                        <h6> Country: </h6><input class="form-control" type="text" name="country">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element2 hidden" id="payment-info">
            <small>Paypal Options</small>
        </div>

    </div>

    <div class="col-lg-6">
        <div class="box-element2">
            <a class="btn btn-outline-dark" href="{% url 'shop:cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{% static 'images/default.jpg' %}"></div>
                <div style="flex:2"><p>Product 1</p></div>
                <div style="flex:1"><p>$20.00</p></div>
                <div style="flex:1"><p>x2</p></div>
            </div>
            <h5>Items:   2</h5>
            <h5>Total:   $4</h5>
        </div>
    </div>
</div>

{% endblock %}
