{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(https://previews.123rf.com/images/maximleshkovich/maximleshkovich1905/maximleshkovich190500088/125134566-minimal-fashion-concept-female-clothes-on-hanger-on-white-background-fashion-blog-website-social-med.jpg;w=1920&amp;h=500);"></div>
            <div class="swiper-slide" style="background-image:url(https://previews.123rf.com/images/maximleshkovich/maximleshkovich1905/maximleshkovich190500088/125134566-minimal-fashion-concept-female-clothes-on-hanger-on-white-background-fashion-blog-website-social-med.jpg;w=1920&amp;h=500);"></div>
            <div class="swiper-slide" style="background-image:url(https://previews.123rf.com/images/maximleshkovich/maximleshkovich1905/maximleshkovich190500088/125134566-minimal-fashion-concept-female-clothes-on-hanger-on-white-background-fashion-blog-website-social-med.jpg;w=1920&amp;h=500);"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
            <br>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Contact</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}
