{% extends "shop/base.html" %}
{% block content %}
{% load static %}

<div class="container2" style="padding-bottom:350px;">
    <div class="title">
        <strong>Kontakt</strong>
    </div>
    <div style="text-align:center">
        <p>W razie pytań, prosimy o kontakt od 7h &ndash; 16h w dni robocze, sobota od 7h &ndash; 14h, w następujący spos&oacute;b:</p>
        <p>E-Mail: <a href="mailto:contact.wolkamoda@gmail.com">contact.wolkamoda@gmail.com</a></p>
        <p>Tel: <a href="tel:+48 798 456 666">+48 798 456 666</a></p>
        <p>Facebook &ndash; Messenger: WolkaModa &ndash; Hurtownia odzieży damskiej</p>
    </div>
</div>


{% endblock %}
