{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<div>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
                <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
                <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="m-auto">
            <div class="mx-auto py-5">
                <p class="info-text">KONTAKT</span></strong></span></p>
            </div>
            <div>
                <p class="info-text">W razie pytań, prosimy o kontakt od 7h &ndash; 16h w dni robocze, sobota od 7h &ndash; 14h, w następujący spos&oacute;b:</span></span></p>
                <p class="info-text">E-Mail: <a href="mailto:contact.wolkamoda@gmail.com">contact.wolkamoda@gmail.com</a></p>
                <p class="info-text">Tel: <a href="tel:+48 798 456 666">+48 798 456 666</a></p>
                <p class="info-text">Facebook &ndash; Messenger: WolkaModa &ndash; Hurtownia odzieży damskiej</span></span></p>
            </div>
        </div>

    </div>
</div>

{% endblock %}
