{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="m-auto py-5">
            <p class="info-text"><strong>WYSYŁKA</strong></p>
            <br />
            <p class="info-text">Towar wysyłamy w ciągu 24 godzin.</p>
            <p class="info-text">Wysyłka na terenie Polski - do 30 kg &nbsp;- &nbsp;max. wymiary : 100 cm x 60 cm x 40 cm</p>
            <p class="info-text">Darmowa dostawa dla zam&oacute;wień powyżej 1500 zł netto.&nbsp;</strong></p>
            <p class="info-text">Przy przesyłce składającej się z kilku paczek, rabat w postaci darmowej dostawy dotyczy pierwszej paczki, za każdą kolejną ponosi klient.&nbsp;</strong></p>
            <p class="info-text">Odbi&oacute;r osobisty: <strong>Bezpłatnie</strong></p>
            <p class="info-text">Przesyłka kurierska (przedpłata):<strong>&nbsp;30 zł&nbsp;</strong>(wartość zam&oacute;wienia do 1500 zł netto / jedna paczka)&nbsp;</p>
            <p class="info-text">Przesyłka kurierska za pobraniem: <strong>35 zł</strong> (wartość zam&oacute;wienia do 1500 zł netto / jedna paczka)</p>
            <p class="info-text">W przypadku przedpłaty, przesyłka zostanie nadana po zaksięgowaniu kwoty zam&oacute;wienia, a w przypadku płatności za pobraniem po zatwierdzeniu zam&oacute;wienia przez klienta.</p>
        </div>
    </div>
</div>

{% endblock %}
