{% extends "shop/base.html" %}
{% block content %}
{% load static %}
<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="m-auto py-5">
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;'><span style="font-size: 24px;"><strong><span style='font-family:"Times New Roman",serif;color:black;'>WYSYŁKA</span></strong></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;'><span style="font-size: 24px;"><span style='font-family:"Times New Roman",serif;color:black;'>&nbsp;</span></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;'><span style="font-size: 24px;"><span style="line-height: 115%;">Towar wysyłamy w ciągu 24 godzin.</span></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;'><span style="font-size: 24px;"><span style="line-height: 115%;">Wysyłka na terenie Polski - do 30 kg &nbsp;- &nbsp;max. wymiary : 100 cm x 60 cm x 40 cm</span></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;margin:0cm;'><span style="font-size: 24px;"><strong><span style="line-height: 115%;">Darmowa dostawa dla zam&oacute;wień powyżej 1500 zł netto.&nbsp;</span></strong></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;margin:0cm;'><span style="font-size: 24px;"><strong><span style="line-height: 115%;">Przy przesyłce składającej się z kilku paczek, rabat w postaci darmowej dostawy dotyczy pierwszej paczki, za każdą kolejną ponosi klient.&nbsp;</span></strong></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;'><span style="font-size: 24px;"><span style="line-height: 115%;">Odbi&oacute;r osobisty: <strong>Bezpłatnie</strong></span></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;'><span style="font-size: 24px;"><span style="line-height: 115%;">Przesyłka kurierska (przedpłata):<strong>&nbsp;30 zł&nbsp;</strong>(wartość zam&oacute;wienia do 1500 zł netto / jedna paczka)&nbsp;</span></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;'><span style="font-size: 24px;"><span style="line-height: 115%;">Przesyłka kurierska za pobraniem: <strong>35 zł</strong> (wartość zam&oacute;wienia do 1500 zł netto / jedna paczka)</span></span></p>
            <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:115%;'><span style="font-size: 24px;"><span style="line-height: 115%;">W przypadku przedpłaty, przesyłka zostanie nadana po zaksięgowaniu kwoty zam&oacute;wienia, a w przypadku płatności za pobraniem po zatwierdzeniu zam&oacute;wienia przez klienta.</span></span></p>
        </div>
    </div>
</div>

{% endblock %}
