{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="section-name">
          <h3>Continue as a Guest</h3>
          <hr>
          <div class='question'>
              <small class='text-muted'>Nie masz jeszcze konta? <a href='{% url 'signup' %}'>Załóż konto!</a></small>
          </div>

      </div>
      <a class="btn" href="{% url 'shop:checkout' %}">Kontynuuj jako gość</a>
    </div>

    <div class="col-2">
      <div class="section-name">
          <h3>Login</h3>
          <hr>
      </div>
      <div class="form">
        <form method='POST'>
          {% csrf_token %}
          <div class="form-content">
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Nazwa użytkownika:</label>
                <br>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">Hasło:</label>
                <br>
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <button class="btn" type="submit">Zaloguj się</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
