{% extends "shop/base.html" %}
{% block content %}
{% load static %}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
            <h1></h1>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
            <h1></h1>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
              <div class="content-section">
                <h3>Categories</h3>
                <p class='text-muted'>
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                  </ul>
                </p>
              </div>
            </div>
            <div class="col-md-8">
                <h1>Products</h1>
                {% for item in object_list %}
                    <div class="card-body text-center">
                        <a href="#" class="grey-text">
                            <h5>{{ item.get_category_display }}</h5>
                        </a>
                        <h5>
                            <strong>
                                <a href="#" class="dark-grey-text">{{ item.title }}
                                <span class="badge badge-pill {{ item.get_label_display }}--color">NEW</span>
                                </a>
                            </strong>
                        </h5>
                        <h4 class="font-weight-bold blue-text">
                            <strong>{{ item.price }}$</strong>
                        </h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="brands"><a href="#"> <img src="{% static 'shop/assets/img/instacart.png' %}"><img src="{% static 'shop/assets/img/kickstarter.png' %}"><img src="{% static 'shop/assets/img/lyft.png' %}"><img src="{% static 'shop/assets/img/shopify.png' %}"><img src="{% static 'shop/assets/img/pinterest.png' %}"><img src="{% static 'shop/assets/img/twitter.png' %}"></a></div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Subscribe for our Newsletter</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <form class="form-inline" method="post">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
        </form>
    </div>
</div>
{% endblock %}
