{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
            <div class="swiper-slide"><img class="image" src={% static 'images/clothing-2000.jpg' %} /></div>
        </div>
    </div>
</div>
<div class="container mx-auto">
    <div class="mt-4">
        <div class="container-fluid">
            <div class="pt-3">
                <hr />
                <h1 class="text-left">Bestsellery</h1>
            </div>
            <div class="row mx-auto">
                {% for product in recProducts %}
                    <div class="card mx-auto my-2">
                        <div class="col">
                            <div class="view overlay mt-3">
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image1.url }}" width="225" height="225" class="card-img-top"></a>
                            </div>
                            <div class="box-element">
                                <a href="{{ product.get_absolute_url }}"><h5><strong>{{product.title}}</strong></h5></a>
                                <hr>
                                <button data-productId="{{ product.id }}" data-action="add" data-pack="{{ product.pack }}" class="btn btn-outline-secondary update-cart">Dodaj</button>
                                <h5 style="display: inline-block; float:right;">{{product.price}} zł</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container my-5">
            <div class="row my-2 mx-auto">
                <div class="col-md-4 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a class="card-link"
                                href="#">Link</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a class="card-link"
                                href="#">Link</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a class="card-link"
                                href="#">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-5">

            <div class="pt-3 pl-3">
                <hr />
                <h1 class="text-left ml-3">New</h1>
            </div>
            <div class="row mb-5 mx-auto pb-3 px-3">
                {% for product in newProducts %}
                    <div class="card mx-auto my-2">
                        <div class="col">
                            <div class="view overlay mt-3">
                                <a href="{{ product.get_absolute_url }}"><img src="{{ product.image1.url }}" width="225" height="225" class="card-img-top"></a>
                            </div>
                            <div class="box-element">
                                <a href="{{ product.get_absolute_url }}"><h5><strong>{{product.title}}</strong></h5></a>
                                <hr>
                                <button data-productId="{{ product.id }}" data-action="add" data-pack="{{ product.pack }}" class="btn btn-outline-secondary update-cart">Dodaj</button>
                                <h5 style="display: inline-block; float:right;">{{product.price}} zł</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="brands"><a href="#"> <img src="{% static 'shop/assets/img/instacart.png' %}"><img src="{% static 'shop/assets/img/kickstarter.png' %}"><img src="{% static 'shop/assets/img/lyft.png' %}"><img src="{% static 'shop/assets/img/shopify.png' %}"><img src="{% static 'shop/assets/img/pinterest.png' %}"><img src="{% static 'shop/assets/img/twitter.png' %}"></a></div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>

    </div>
</div>
<div class="newsletter-subscribe"><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe>
<div class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Subscribe for our Newsletter</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <form class="form-inline" method="post">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
        </form>
    </div>
</div>

{% endblock content %}
