{% extends "shop/base.html" %}

{% block content %}
{% load static %}

<div class="container cart-page">
  <h2>Historia Zamówień: </h2>

  <table>
		<tr>
			<th>Numer Zamówienia:</th>
			<th>Data:</th>
			<th>Wartość:</th>
      <th></th>
		</tr>
    {% if object_list %}
      {% for ord in object_list %}
  		<tr>
				<td><a href={{ ord.get_absolute_url }}><p>{{ord.transaction_id}}</p></a></td>
				<td><p>Date: {{ord.date_ordered}}</p></td>
				<td><p>{{ord.get_cart_total_vat|floatformat:2}}PLN</p></td>
        <td><p>Zobacz więcej</p></td>
  		</tr>
      </table>
		  {% endfor %}
      {% else %}
        </table>
        <center>
          <div class="info" style="margin-top: 50px; margin-bottom: 500px;">
              <h2 class="card-title">
                  Brak wyników
              </h2>
              <p class="card-text">Nie masz jeszcze żadnych zamówień.</p>
          </div>
        </center>
      {% endif %}
</div>

<center>
    <div class="page-btn">
        {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href='?page=page_obj.previous_page_number'><span>&#10094;</span></a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?page=num"><span>{{ num }}</span></a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
                        <a href='?page=num'><span>{{ num }}</span></a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href='?page=page_obj.next_page_number'><span>&#10095;</span></a>
                {% endif %}
        {% endif %}
    </div>
</center>

{% endblock content %}
