{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row row-2">
        <h2>Produkty</h2>
    </div>
    <div class="row">
        {% if object_list %}
        <div class="col-md-2">
            <div class="container">
              <div style="category-content">
                  <center>
                      <div class="categoryText">
                          <label>Kategorie</label>
                      </div>
                      <div class="column">
                          {% for category in categories %}
                              <a class="categoryLabel" href="?{% param_replace category=category.id page=1%}"><p>{{ category.name }}</p></a>
                          {% endfor %}
                      </div>
                      <form class="filter" method="get">
                          {{ filter.form|crispy }}
                          <button class="btn" type="submit">Search</button>
                      </form>
                   </center>
              </div>
            </div>
            <!-- <form method="get" class="px-3 mb-5">
                {{ filter.form|crispy }}
                <button class="btn btn-outline-secondary" style="border-radius:10px;" type="submit">Search</button>
            </form> -->
        </div>

        <div class="col-md-8">
            <div class="column">
                {% if current_category %}
                    <h1>{{current_category}}</h1>
                {% else %}
                    <h1>Wszystkie Produkty</h1>
                {% endif %}
                <div class="row">
                    {% for product in object_list %}
                        <div class="col-4">
                            <a href="{{ product.get_absolute_url }}"><img src="{{ product.image1.url }}" width="200px" height="250px" class="card-img-top"></a>
                            <a href="{{ product.get_absolute_url }}"><h5><strong>{{product.title}}</strong></h5></a>

                            <!-- <button data-productId="{{ product.id }}" data-action="add" data-pack="{{ product.pack }}" class="btn btn-outline-secondary update-cart">Dodaj</button> -->
                            <p>Cena Netto: {{product.price|floatformat:2}} PLN</p>
                            <p>Cena Brutto: {{product.get_brutto_price|floatformat:2}} PLN</p>
                            <p>W paczce: {{product.pack|floatformat:0}}</p>
                            <a href="{{ product.get_absolute_url }}" class="btn">Dodaj do koszyka</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% else %}
        <center>
            <div class="container">
                <div class="info" style="margin-bottom: 500px;">
                    <h2 class="card-title">
                        Brak wyników
                    </h2>
                    <p class="card-text">Nie znaleźliśmy żadnych produktów.</p>
                </div>
            </div>
        </center>
    {% endif %}
    </div>
</div>

<center>
    <div class="page-btn">
        {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href='?{% param_replace page=page_obj.previous_page_number %}'><span>&#10094;</span></a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?{% param_replace page=num %}"><span>{{ num }}</span></a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
                        <a href='?{% param_replace page=num %}'><span>{{ num }}</span></a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href='?{% param_replace page=page_obj.next_page_number %}'><span>&#10095;</span></a>
                {% endif %}
        {% endif %}
    </div>
</center>
{% endblock %}
