{% extends "shop/base.html" %}
{% block content %}
{% load static %}

<main>
    <div class="container-fluid dark-grey-text">

      <!--Grid row-->
      <div class="row wow fadeIn my-auto mx-auto box-element3 p-5 mx-auto">

        <!--Grid column-->
        <div class="col-md-6">
        <center>
          <div class="column">
              <div class="mx-auto">
                  <div class="container">
                      <!-- Expanded image -->
                      <img id="expandedImg" class="displayed-img">
                  </div>
                  <!-- <img src="{{ object.image1.url }}" class="img-fluid" alt="" width=400px height=600px> -->
              </div>
              <div class="row mx-auto">
                  <div class="column1">
                    <img src="{{ object.image1.url }}" height="100px" width="100px" alt="Nature" onclick="myFunction(this);">
                  </div>
                  <div class="column1">
                    <img src="{{ object.image2.url }}" height="100px" width="100px" alt="Snow" onclick="myFunction(this);">
                  </div>
                  <div class="column1">
                    <img src="{{ object.image3.url }}" height="100px" width="100px" alt="Mountains" onclick="myFunction(this);">
                  </div>
              </div>
          </div>
        </center>
        </div>

        <!--Grid column-->
        <div class="col-md-6">
          <div class="my-auto mx-auto pt-5">
              <h2>{{object.title}}</h2>
          </div>
          <!--Content-->
          <div class="mx-auto my-auto">
            <div class="pb-5">
              <a href="/products/?=category={{object.category}}">
                <span class="">{{object.category}}</span>
              </a>
            </div>


            <span>Package: {{object.pack}}</span>
            <p class="">Price:
              {% if object.discount %}
              <span class="mr-1">
                <del>{{ object.price }} zł</del>
              </span>
              <span>${{ object.discount }}</span>
              {% else %}
              <span>{{ object.price }} zł</span>
              {% endif %}
            </p>

            <div class="mx-auto row">
                <div class="">
                    <input class="text quantity-input-box" data-product="{{ object.id }}" id="quantity" data-cartValueUpdate="False" value="{{ object.pack }}">
                </div>
                <div class="mx-1">
                    <a data-product="{{ object.id }}" data-action="add" data-pack={{ object.pack }} class="update-cart btn btn-primary btn-md my-0 p">
                      Add to cart
                    </a>
                </div>
            </div>
            <div class="m-auto pt-2">
                <p>The minimum purchase order quantity for the product is {{ object.pack }}</p>
            </div>

            <p class="lead font-weight-bold">Description</p>

            {% if object.description %}
                <p>{{ object.description }}</p>
            {% endif %}



          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-0 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn mb-5">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>

 </main>
<script src="{% static 'shop/assets/js/image-tab.js' %}"></script>
{% endblock %}
