{% extends "shop/base.html" %}
{% block content %}
{% load static %}

<main>
    <div class="small-container single-product">
      <div class="row">
          <div class="col-2">
              <img src="{{ object.image1.url }}" width="100%" id="ProductImg">
              <div class="small-img-row">
                  <div class="small-img-col"> <img src="{{ object.image1.url }}" width="100%" class="small-img"> </div>
                  <div class="small-img-col"> <img src="{{ object.image2.url }}" width="100%" class="small-img"> </div>
                  <div class="small-img-col"> <img src="{{ object.image3.url }}" width="100%" class="small-img"> </div>
              </div>
          </div>
          <div class="col-2">
              <p>Produkty/{{object.category}}</p>
              <h1>{{object.title}}</h1>
              <p>W paczce są: {{object.pack}} rozmiarówki</p>
              <h4>{{object.price}}PLN</h4>
              <select>
                  <option>S/M/L/XL</option>
                  <option>XL/XXL/XXXL/XXXXL</option>
              </select>

              <input type="number" id="quantity{{object.id}}" value="{{ object.pack }}">
              <a data-productId="{{ object.id }}" data-action="add" data-pack={{ object.pack }} class="update-cart btn">Dodaj</a>

              <h3>Opis</h3>
              <p>{{object.description}}</p>
          </div>
      </div>
  </div>

  <div class="small-container">
      <div class="row row-2">
          <h2>Podobne produkty</h2>
          <p>Pokaż więcej</p>
      </div>
      <div class="row">
          {% for product in recProducts %}
              <div class="col-4">
                  <a href="{{ product.get_absolute_url }}"><img src="{{ product.image1.url }}" width="225" height="225" class="card-img-top"></a>
                  <a href="{{ product.get_absolute_url }}"><h5><strong>{{product.title}}</strong></h5></a>
                  <p>Cena Netto: {{product.price}} zł</p>
                  <p>Cena Brutto: {{product.get_brutto_price}} zł</p>
                  <a href="{{ best.get_absolute_url }}" class="btn">Dodaj do koszyka</a>
              </div>
          {% endfor %}
      </div>
  </div>


<script type="text/javascript">
    
    const cartItems = document.getElementById('cartItems');
    var counter = '{{ cartItems }}';
    cartItems.innerHTML = counter;

    $('.update-cart').click(function(){
        var productId = $(this).attr("data-productId");
        var action = $(this).attr("data-action");
        var pack = parseInt(this.dataset.pack);

        try {
            var inputVal = parseInt(document.getElementById("quantity"+productId).value);
            if (inputVal%pack != 0){
                inputVal += pack - inputVal%pack
            }
        } catch {
            var inputVal = pack
        }

        var url = '/add_to_cart/'
        $.ajax(
        {
            type:'GET',
            url: url,
            data:{
                 productId: productId,
                 action: action,
                 inputVal: inputVal,
            },
            success: function( data )
            {
                cartItems.innerHTML = data
                alert("Dodano do koszyka " + inputVal + " produkty");
                $('#product'+productId).remove();
            }
         })
    });
</script>

<script type="text/javascript">
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");

    SmallImg[0].onclick = function() {
        ProductImg.src = SmallImg[0].src;
    }

    SmallImg[1].onclick = function() {
        ProductImg.src = SmallImg[1].src;
    }

    SmallImg[2].onclick = function() {
        ProductImg.src = SmallImg[2].src;
    }


</script>

</main>
{% endblock %}
